# Product
## data management, stats, analytics
### hypothesis testing, regression theory, central limit theorem, bayes theorem, conditional and joint probabilities and basic distributions (exponential, geometric, binomial). estimators (consistency, bias, efficiency)

### 1- Company wants to update homepage to increas CTR (click through rate). Perfomed 50 hypothesis tests of 50 new features and set max type I erroe rate to 5%. Found there are 4 features with P-value < 0.05. However found immediate decrese in CTR when new features were applied. What might be most likely reason for the decrease?

Answer: While shipping a feature to users, it is imperative to validate assumptions about design and features in order to understand their impact in the real world.
types: A/B Testing - Multivariate Testing - Before/After Testing - Time-based On/Off Testing
After the right test is chosen and designed, and the success criteria and metrics are identified, the results must be analyzed. 
Null hypothesis: The null hypothesis is typically denoted as . The null hypothesis states the "status quo". This hypothesis is assumed to be true until there is evidence to suggest otherwise.
Alternative hypothesis: The alternative hypothesis is typically denoted as  or . This is the statement that one wants to conclude. It is also called the research hypothesis.
This uncertainty can be of 2 types: Type I error (falsely rejecting a null hypothesis) and type II error (falsely accepting a null hypothesis).
stats in here: 
1- Sampling (not have a bias): In order to ensure no bias in sampling, one can observe the mean and variance for the success metric before the change is introduced.
2- Significance and P-Value: In statistics, the p-value depicts the probability that, assuming the null hypothesis is correct, you might still observe results that are at least as extreme as the results of your hypothesis test. The smaller the p-value, the more likely the alternative hypothesis is correct, and the greater the significance of your results.
#### Testing multiple hypotheses increases the risk of drawing a false-positive conclusion or the Type I error rate (a Type I error is another name for incorrectly rejecting the null hypothesis).
What is the Multiple Testing Problem?
If you run a hypothesis test, there’s a small chance (usually about 5%) that you’ll get a bogus significant result. but if 20 different researchers evaluate 20 different aspects of a policy intervention, even if the intervention did nothing, we should expect one statistically significant result and 19 statistically insignificant results. When you run multiple tests, the p-values have to be adjusted for how many hypothesis tests you are running.

#### What is composite key and example?
A primary key having two or more attributes is called composite key. It is a combination of two or more columns. An example can be − Here our composite key is OrderID and ProductID − {OrderID, ProductID}
#### A “One to one” relationship between two tables means that a row in one table can only relate to one row in the table on the other side of their relationship and vice versa. For example, there might be a one-to-one relationship between employees and the cars they drive.

# Travel agency case
Users can request to book a package creating a "lead". Then suppliers confirm or not their pricing and availability and users have have 48 hours to pay. Acency earns a percentage of every package sold.

In [5]:
import pandas as pd
leads = pd.read_csv("Leads_list.csv")
suppliers = pd.read_csv("Suppliers_fee_list.csv")

In [6]:
leads.head()

,first_name,received,administrator,guide_code,Country of Origin,Initial_guide_code,custom trip,trip_code,status,departure_date,...,main_activity,skill_level,destination_country,people_count,cancellation_reason,source,base_price_local_currency,price_currency,exchange_rate,payment_method
id,,,,,,,,,,,,,,,,,,,,,
21402,Peter,24/12/2018,NaN,97,Australia,360,NaN,127.0,1_cancelled,NaN,...,Mountaineering,intermediate,81.0,1,Changed plans,Organic,1950,EUR,1.000,NaN
21357,Lynne,22/12/2018,NaN,115,United Kingdom,115,NaN,558.0,1_cancelled,NaN,...,Heliskiing,advanced,74.0,1,Changed plans,Organic,1140,EUR,1.000,NaN
21344,chris,22/12/2018,NaN,212,United States,24,Yes,NaN,1_cancelled,NaN,...,Hiking,intermediate,10.0,2,Changed plans / Out of season,Organic,2300,USD,0.879,NaN
21209,Yubo,18/12/2018,NaN,1,Mexico,1,NaN,56.0,1_cancelled,NaN,...,Mountaineering,intermediate,142.0,1,Changed plans,Referral,400,USD,0.879,NaN
21207,Jaime,18/12/2018,NaN,165,Spain,165,NaN,45.0,1_cancelled,NaN,...,Heliskiing,advanced,58.0,2,Changed plans,Paid,4380,EUR,1.000,NaN

In [7]:
suppliers.head()

           month_received  guide_fee
guide_code
1             November-18         10
2             November-18         10
3             November-18         10
4             November-18         10
5             November-18         10

Q1: How many suppliers accepted an increase in their Dec commission compare to Nov 2018?
Q2: How many sales are with an alternative guide or agency?
Q3: The data team is creating an algorithm to detect leads with high probability of converting to sales. Which of the following is not a reasonable factor in their model? 1)Country of origin 2)Price of package 3)Anticipation to travel 4)Lead ID 5)Number of previous purchases
Q4: which of the following would not provide useful insights about customers? 1)Average people count 2)Difference between recieved and departure dates 3)average country code 4)median trip duration 5)Top 10 countries of origin
Q5: team wants to remove suppliers that get lots of leads but have to replaced frequently. Which guides was replaced by another the most times?
Q6: How is the conversion rate from lead to sold of custom trips compared to standard trips?
Q7: Considering the sales, which of the destination countries has the highest average price per day
of trip?